.sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid #dbdbdb;
    width: 330px;
    height: 100%;
    background-color: white;
}

.sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #dbdbdb;
    padding: 10px;
    height: 45px;
    background-image: linear-gradient(to bottom right, #eee, white);
    font-size: 20px;
    font-weight: 500;
}

.todolist-header-items {
    margin-bottom: 5px;
}

.todolist-main-container {
    
}